body {
    font-family: 'Hanalei Fill', cursive;
    background-color: #292D3E;
}

h1 {
    text-align: center;
    color: #FFCC00;
    letter-spacing: 0.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.square {
    height: 200px;
    line-height: 200px;
    width: 200px;
    background-color: aliceblue;
    font-size: 5em;
}

#winner {
    color: #FFCC00;
    font-size: 5em;
    text-align: center;
}