body {
    font-family: 'Rubik', sans-serif;
    background-color: white;
    overflow: hidden;
}

#header {
    font-size: 35px;
    text-align: center;
    color: #fa743e;
    letter-spacing: 0.1em;
    margin-top: 30px;
    margin-bottom: 30px;
}

#header em {
    color: #55acee;
    font-style: normal;
}

#turn {
    margin-left: auto;
    margin-right: auto;    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #fa743e; 
    width: 80px;
    border-radius: 10px;
}

table {
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    border-collapse:collapse
}

.square {
    height: 150px;
    line-height: 150px;
    width: 150px;
    background-color: white;
    font-size: 5em;
}

.ver {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.hoz {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#winner {
    color: black;
    font-size: 1.5em;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.switch { 
    position : relative;
    display : inline-block;
    width : 60px;
    height : 30px;
    background-color: #fa743e;
    border-radius: 30px;
    margin: 0 10px 0 10px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.checkbox:checked + .switch::after {
    left : 30px; 
  }

.checkbox:checked + .switch {
    background-color: #55acee;
}

.checkbox { 
    display : none;
}

#switchPlayMode {
    text-align: center;
}

.container{
    text-align: center;
}

.cross_line{
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px #fa743e;
    border-bottom: solid 2px #fa743e;
    text-decoration: none;
    color: #55acee;
}
.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: #fa743e;
  transition: .3s;
}
.cross_line:before {left: 7px;}
.cross_line:after {right: 7px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}