body {
    font-family: 'Hanalei Fill', cursive;
    background-color: #292D3E;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #FFCC00;
    letter-spacing: 0.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.square {
    height: 200px;
    line-height: 200px;
    width: 200px;
    background-color: aliceblue;
    font-size: 5em;
}

#winner {
    color: #FFCC00;
    font-size: 5em;
    text-align: center;
}

.switch { 
    position : relative ;
    display : inline-block;
    width : 40px;
    height : 20px;
    background-color: #fa743e;
    border-radius: 20px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.checkbox:checked + .switch::after {
    left : 20px; 
  }

.checkbox:checked + .switch {
    background-color: #55acee;
}

.checkbox { 
    display : none;
}

#switchPlayMode {
    text-align: center;
    margin: 50px;
}